h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

body, html {
  height: 100%;
  width: 100%;
  font: 16px/1.5 Montserrat, Arial, Sans-serif; }

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden; }

.title-1 {
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 35px; }

.title-2 {
  font-size: 30px;
  font-weight: 400; }

.fa-red {
  color: #ea2727; }

.header {
  background: url(../img/bg.jpg) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
  -webkit-box-shadow: 0 0 0 1500px rgba(0, 0, 0, 0.7) inset;
          box-shadow: 0 0 0 1500px rgba(0, 0, 0, 0.7) inset;
  padding: 200px 20px; }

.header__name-company {
  color: #fff;
  font-size: 60px; }

.header__tagline {
  color: #ccc;
  font-size: 24px;
  font-weight: 400; }

.header__adres {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  margin-top: 40px; }

.header__fa-adres {
  margin-right: 2px; }

.header__btn-call {
  color: #fff;
  background: #ea2727;
  padding: 12px 32px;
  font-weight: bold;
  display: inline-block;
  margin: 40px 0 0; }

.section {
  padding: 90px 0; }
  .section:nth-child(even) {
    background: #efefef; }

.contacts__fa {
  margin-right: 20px;
  width: 20px; }
  .contacts__fa-map {
    margin-left: 5px; }
  .contacts__fa-phone {
    margin-left: 6px; }
  .contacts__fa-schedule {
    margin-left: 1px; }

.contacts__title-2 {
  margin: 20px 0 10px; }
  .contacts__title-2:first-child {
    margin-top: 0; }
