// GENERAL

.clearfix,
.clearfix:before,
.clearfix:after
  content: ''
  display: block
  clear: both

*
  box-sizing: border-box

h1, h2, h3, h4, h5, h6 
  padding: 0
  margin: 0

label, input, textarea
  display: block

img
  width: 100%

input, input:active
  outline: none

a
  text-decoration: none

body, html
  height: 100%
  width: 100%
  font: 16px/1.5 Montserrat, Arial, Sans-serif
  min-width: 320px

.container
  max-width: 1170px
  width: 100%
  margin: 0 auto
  padding: 20px

.section
  &:nth-child(even)
    background: #efefef

.title-1
  font-size: 48px
  font-weight: bold
  padding-bottom: 50px

.title-2
  font-size: 30px
  font-weight: 400

.fa-red
  color: #ea2727


// HEADER

.header
  background: url(../img/bg.jpg) no-repeat center
  background-size: cover
  box-shadow: 0 0 0 1500px rgba(0, 0, 0, .7) inset

.header__name-company
  color: #fff
  font-size: 60px
  
.header__tagline
  color: #ccc
  font-size: 24px
  font-weight: 300

.header__adres
  font-size: 18px
  font-weight: 400
  color: #fff
  margin-top: 40px

.header__fa-adres
  margin-right: 2px

.header__btn-call
  color: #fff
  background: #ea2727
  padding: 12px 32px
  font-weight: bold
  display: inline-block
  margin: 40px 0 0
  &:hover
    background: #ff3b2f
  &:active
    background: #ea2727


// SERVICES

.services
  font-size: 0
  &__title
    font-size: 24px
    position: absolute
    right: 0
    bottom: 10px
    left: 0
    text-align: center
    color: #fff
  &-item
    position: relative
    background: #000
  &__img
    min-height: 100%
    opacity: .6
    object-fit: cover


// CONTACTS

.contacts__fa
  margin-right: 20px
  width: 20px
  &-map
    margin-left: 5px
  &-phone
    margin-left: 6px
  &-schedule
    margin-left: 1px

.contacts__info-link
  text-decoration: underline
  color: #000

.contacts__title-2
  margin: 40px 0 10px
  &:first-child
    margin-top: 0

.section-map
  width: 100%

.section-form
  color: #fff
  background: #333
  text-align: center
  .title-1
    padding: 0

.form-text
  font-size: 18px
  font-weight: 300

.form-container
  margin: 30px auto

.form-submit,
.form-input__phone,
.form-textarea
  display: block
  margin: 0 auto

.form-submit
  background: #ea2727
  border: none
  color: #fff
  cursor: pointer
  padding: 12px 20px
  font-weight: 700
  &:hover
    background: #ff3b2f
  &:active
    background: #ea2727

.form-label
  color: #ccc
  text-align: left
  padding: 6px 0

.label-textarea
  margin-top: 20px

.form-submit
  margin-top: 40px
  
.form-input__phone,
.form-textarea
    width: 100%
    padding: 12px 16px
    max-width: 100%

